*
!.gitignore
!requirements.txt
!run_venv.sh
!scripts/
!scripts/**
!src/
!src/**
!docs/
!docs/**
!data/
!data/input/
!data/input/**
!data/history/
!data/history/**
!data/output/
!data/output/**
__pycache__/
**/__pycache__/
*.pyc
*.pyc.*
.pycache_check/
